{% extends "admin/layout/app_without_sidebar.jinja2" %}
{% block javascript %}
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js?v={{configs.basic.version}}"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/additional-methods.min.js?v={{configs.basic.version}}"></script>
<script>
    const showPassBtn = document.querySelector('.show-password');
    showPassBtn?.addEventListener('click', ev => {
        ev.preventDefault();
        const passField = document.querySelector('#password');
        const currentPassFieldType = passField.getAttribute('type');
        passField.setAttribute('type', currentPassFieldType === 'password' ? 'text' : 'password');
        var ti_eye = document.getElementById('ti-eye');
        if (ti_eye.classList.contains('ti-eye')) {
            ti_eye.classList.remove('ti-eye');
            ti_eye.classList.add('ti-eye-closed');
        } else {
            ti_eye.classList.remove('ti-eye-closed');
            ti_eye.classList.add('ti-eye');
        }
    })
    var currentButton;
    $("#btn-submit").on('click', function (event) {
        currentButton = $(this)
        console.log("click") 
    });
    $("#user_login_form").validate({
        submitHandler: function (form) {
            var buttonText = currentButton.text();
            currentButton.prop("disabled", true).html("{{_('Please wait')}}");
            $("#app-loading-indicator").removeClass("opacity-0");
            var formData = $('#user_login_form').serializeArray(); 
            var jsonData = {};
            formData.forEach(function(item) {jsonData[item.name] = item.value;}); 
            
            $.ajax({
                type: "POST",
                url: "/admin/login",
                data: JSON.stringify(jsonData),
                contentType: 'application/json;charset=utf-8',
                processData: false,
                success: function (response) {
                    toastr.options.timeOut = 200;
                    window.location.reload();
                    toastr.success("{{_('Submit Successfully')}}");
                },
                error: function (response, status, error) {
                    console.log(response, status, error)
                    let msg = response.responseJSON.msg;
                    toastr.error(msg);
                    currentButton.prop("disabled", false).html(buttonText);
                    $("#captcha").parent().parent().removeClass("hidden");
                    $("#captcha").prop("required", true);
                },
                complete: function (xhr, textStatus) {
                    $("#app-loading-indicator").addClass("opacity-0");
                },
            });

            return false;
        },
        errorElement: "div",
        errorPlacement: function (error, element) {
            // $(element).removeClass('is-valid');
            // $(element).addClass('is-invalid');
            error.addClass('text-warning py-2');
            if (element.prop("type") === "password" || element.prop("type") === 'checkbox'||element.prop("name") === "captcha") {
                error.insertAfter(element.parent());
            } else {
                error.insertAfter(element);
            }

        },
        msgs: {
            password: {
                required: " ",
                equalTo: "{{_('Please enter the same password as above')}}"
            },
            email: {
                required: " ",
                email: "{{_('Please enter a valid email address')}}",
            },
            accept: "{{_('Please Accept This Plain Text')}}"
        },
        debug: false
    });
    $('#captcha-a').on('click', function() {
        var imageUrl = "{{ url_for('captcha.captcha') }}?t=" + new Date().getTime();
        $('#captcha-img').attr('src', imageUrl);  // 使用新的URL替换当前的src属性
    });
</script>
{% endblock javascript %}

{% block content %}

<div class="page page-auth page-login">
    <div class="absolute top-0 left-0 right-0 container-fluid">
        <div class="items-center p-8 row max-lg:px-1">
            <div class="col">
                <a href="/" class="navbar-brand">
                    <img src="/static/assets/img/logo/logo.svg" alt="Zhanor Admin"
                        class="group-[.navbar-shrinked]/body:hidden dark:hidden">
                    <img src="/static/assets/img/logo/logo-dark.svg" alt="Zhanor Admin"
                        class="hidden group-[.navbar-shrinked]/body:hidden dark:block">
                </a>
            </div>
            <div class="col !text-end">
                <a href="/" class="text-heading !no-underline lg:text-white bg-transparent">
                    <svg class="!me-2 rtl:-scale-x-100" width="8" height="10" viewBox="0 0 6 10" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M4.45536 9.45539C4.52679 9.45539 4.60714 9.41968 4.66071 9.36611L5.10714 8.91968C5.16071 8.86611 5.19643 8.78575 5.19643 8.71432C5.19643 8.64289 5.16071 8.56254 5.10714 8.50896L1.59821 5.00004L5.10714 1.49111C5.16071 1.43753 5.19643 1.35718 5.19643 1.28575C5.19643 1.20539 5.16071 1.13396 5.10714 1.08039L4.66071 0.633963C4.60714 0.580392 4.52679 0.544678 4.45536 0.544678C4.38393 0.544678 4.30357 0.580392 4.25 0.633963L0.0892856 4.79468C0.0357141 4.84825 0 4.92861 0 5.00004C0 5.07146 0.0357141 5.15182 0.0892856 5.20539L4.25 9.36611C4.30357 9.41968 4.38393 9.45539 4.45536 9.45539Z" />
                    </svg>
                    {{_("Back to Home")}}
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row items-stretch min-h-[100vh] max-lg:pt-32 max-lg:pb-20">
            <div class="flex flex-col justify-center col-lg-6">
                <div class="row">
                    <div class="mx-auto col-lg-6">
                        <h1 class="text-center mb-11"> {{_("Sign In")}}</h1>
                        <form id="user_login_form">
                            <div class="mb-[20px]">
                                <label class="form-label">{{_("Email Address")}}</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="{{_("Please Input Your Email")}}" minlength="6" required />
                            </div>
                            <div class="mb-[25px]">
                                <label class="form-label">
                                    {{_("Password")}}
                                </label>
                                <div class="input-group">
                                    <input type="password" class="form-control" id="password" name="password"
                                        placeholder="{{ _('Please Input Your password')}}" minlength="6" required />
                                    <span class="bg-transparent border-0 input-group-text">
                                        <a href="JavaScript:;"
                                            class="link-secondary text-decoration-none show-password "
                                            title="{{_('Show Password')}}" data-bs-toggle="tooltip">
                                            <i id="ti-eye" class="ti ti-eye fs-1"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                            <div class="mb-[25px] {% if show_captcha==False %}hidden{% endif %}">
                                <label class="form-label">
                                    {{_("Captcha")}}
                                </label>
                                <div class="input-group ">
                                    <input type="text" class="form-control" id="captcha" name="captcha"
                                        placeholder="{{ _('Please Input Captcha')}}" minlength="6" maxlength='6' {% if show_captcha %}required{% endif %}r />
                                    <span class="bg-transparent border-0 input-group-text">
                                        <a href="JavaScript:;" id="captcha-a"
                                            class="link-secondary text-decoration-none show-password "
                                            title="{{_('Change Captcha')}}" data-bs-toggle="tooltip">
                                            <img src="{{ url_for('captcha.captcha') }}" id="captcha-img" alt="CAPTCHA" height="30" width="100">
                                        </a>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="remember_me"
                                            name="remember_me">
                                        <span class="form-check-label">{{_("Remember me")}}</span>
                                    </label>
                                </div>
                                <div class="col !text-end">
                                     
                                </div>

                            </div>
                            <div class="row mt-[25px]">
                                <div class="col">
                                    <button id="btn-submit" type="submit"
                                        class="btn btn-submit btn-primary w-100">{{_("Sign In")}}</button>
                                </div>
                            </div>

                            
                        </form>
                        <div class="mt-3 text-center text-muted">
                            
                        </div>
                        <div class="mt-20 text-center text-muted">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col justify-center overflow-hidden bg-center bg-cover col-lg-6 max-lg:hidden"
                style="background-image: url(/static/assets/images/bg/bg-auth.jpg)">
                <img src="/static/assets/images/bg/dash-mockup.jpg" alt="Zhanor Admin Dashboard Mockup"
                    class="rounded-[36px] shadow-[0_24px_88px_rgba(0,0,0,0.55)] translate-x-[27%]">
            </div>
        </div>
    </div>
</div>
{% endblock content %}