{{_("Dashboard")}}
{{_("Generals")}}
{{_("Profile")}}
{{_("Category")}}
{{_("Config")}}
{{_("Attachment")}}
{{_("Attachment Image")}}
{{_("Attachment File")}}
{{_("Addon")}}
{{_("Auth")}}
{{_("Admin Manage")}}
{{_("Admin Group")}}
{{_("Admin Rule")}}
{{_("Admin Log")}}
{{_("User Manage")}}
{{_("User Manage")}}
{{_("User Group")}}
{{_("User Rule")}}
{{_("User Balance Log")}}
{{_("User Score Log")}}
{{_("Demo")}}
{{_("Genarator")}}
{{_("User Recharge Order")}}