<!-- add.jinja2 or edit.jinja2 -->
{% extends "admin/layout/default.jinja2" %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js?v={{configs.basic.version}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/additional-methods.min.js?v={{configs.basic.version}}"></script>
<script src="/static/assets/js/backend/addon.js"></script>
<script src="/static/assets/js/backend/upload.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/7.0.0/tinymce.min.js"
    integrity="sha512-xEHlM+pBhSw2P/G+5x3BR8723QPEf2bPr4BLV8p8pvtaCHmWVuSzzKy9M0oqWaXDZrB3r2Ntwmc9iJcNV/nfBQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.13/flatpickr.min.js"
    integrity="sha512-K/oyQtMXpxI4+K0W7H25UopjM8pzq0yrVdFdG21Fh5dBe91I40pDd9A4lzNlHPHBIP2cwZuoxaUSX0GJSObvGA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.13/l10n/ar-dz.min.js"
    integrity="sha512-qpDG6agspDXhnOZkCoWtFNJ13B6Fq6pwIuZoLw0b05J8TDd1qohuTaemmrpsN3ZVtB7AI7ZnqH5CVVIj01SV5g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>


                    <script>   
                        document.addEventListener("DOMContentLoaded", function () {
                            const input = document.getElementById("created_at");
                            let initialDate;
                            const existingValue = input.value.trim();
                            if (existingValue !== "") {
                                initialDate = flatpickr.parseDate(existingValue, "Y-m-d H:i:s");
                            } else {
                                initialDate = new Date();
                            }
                            flatpickr("#created_at", {
                                enableTime: true,
                                dateFormat: "Y-m-d H:i:s",
                                defaultDate: initialDate
                            });
                        }); 
                    </script>
                    
                    <script>   
                        document.addEventListener("DOMContentLoaded", function () {
                            const input = document.getElementById("updated_at");
                            let initialDate;
                            const existingValue = input.value.trim();
                            if (existingValue !== "") {
                                initialDate = flatpickr.parseDate(existingValue, "Y-m-d H:i:s");
                            } else {
                                initialDate = new Date();
                            }
                            flatpickr("#updated_at", {
                                enableTime: true,
                                dateFormat: "Y-m-d H:i:s",
                                defaultDate: initialDate
                            });
                        }); 
                    </script>
                    

<script>
    var currentButton = undefined;
    $(".btn-submit").on('click', function (event) {
        currentButton = $(this)
    });
    $("#addon_form").validate({
        submitHandler: function (form) {
            var buttonText = currentButton.text();
            currentButton.prop("disabled", true).html("{{_('Please wait')}}");
            var formData = $('#addon_form').serializeArray(); 
            var jsonData = {}; 
            formData.forEach(function(item) {jsonData[item.name] = item.value;}); 
            var type = currentButton.data('type');

            $.ajax({
                type: "POST",
                url: "/admin/addon/save",
                data: JSON.stringify(jsonData),
                contentType: 'application/json;charset=utf-8', 
                processData: false,
                success: function (data) {
                    toastr.options.timeOut = 200;
                    toastr.options.onHidden = function () {
                        currentButton.prop("disabled", false).html(buttonText);
                        if (type == 'submit-return') {
                            window.location.href = '/admin/addon';
                        } else if (type == 'submit-new-entry') {
                            window.location.href = '/admin/addon/add';
                        } else {
                            window.location.reload();
                        }
                    };
                    toastr.success("{{_('Submit Successfully')}}");
                },
                error: function (xhr, status, error) {
                    let msg = xhr.responseJSON && xhr.responseJSON.msg ? xhr.responseJSON.msg : error;
                    toastr.error(msg);
                },
                complete: function (xhr, textStatus) {
                    $("#app-loading-indicator").addClass("opacity-0");
                    currentButton.prop("disabled", false).html(buttonText);
                },
            });

            return false;
        },
        errorElement: "div",
        errorPlacement: function (error, element) {
            $(element).removeClass('is-valid');
            $(element).addClass('is-invalid');
            error.addClass("mt-1 p-1 text-warning");
            if (element.prop("type") === "checkbox" || element.parent().find('button').length > 0) {
                error.insertAfter(element.parent());
            } else {
                error.insertAfter(element);
            }
        },
        success: function (label, element) {
            $(element).removeClass('is-invalid');
            $(element).addClass('is-valid mb-2');
            $(label).addClass('d-none');
        },
    });
</script>
{% endblock javascript %}
{% block content %}
<!-- Page body -->
<div class="page-body pt-6888">
    <div class="container-fluid px-4">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <form id="addon_form" method="post" action>
                    <div class="mb-[20px]">
    <label class="form-label" for="title" required>{{_('Title')}}</label>
   <input class="form-control" type="text" id="title" name="title"  value="{{value.title}}" placeholder="{{_('Title')}}"  maxlength = 120 required/>
  </div>
<div class="mb-[20px]">
    <label class="form-label" for="author" required>{{_('Author')}}</label>
   <input class="form-control" type="text" id="author" name="author"  value="{{value.author}}" placeholder="{{_('Author')}}"  maxlength = 80 required/>
  </div>
<div class="mb-[20px]">
    <label class="form-label" for="uuid" required>{{_('Uuid')}}</label>
   <input class="form-control" type="text" id="uuid" name="uuid"  value="{{value.uuid}}" placeholder="{{_('Uuid')}}"  maxlength = 120 required/>
  </div>
<div class="mb-[20px]">
    <label class="form-label" for="description" required>{{_('Description')}}</label>
   <input class="form-control" type="text" id="description" name="description"  value="{{value.description}}" placeholder="{{_('Description')}}"  maxlength = 255 required/>
  </div>
<div class="mb-[20px]">
    <label class="form-label" for="version" required>{{_('Version')}}</label>
   <input class="form-control" type="text" id="version" name="version"  value="{{value.version}}" placeholder="{{_('Version')}}"  maxlength = 50 required/>
  </div>
<div class="mb-[20px]">
    <label class="form-label" for="downloads" required>{{_('Downloads')}}</label>
   <input type="number" class="form-control" step="1" id="downloads" name="downloads" value="{{value.downloads}}"  placeholder="{{_('Downloads')}}"  required/>
  </div>
<div class="mb-[20px]">
    <label class="form-label" for="download_url" required>{{_('Download Url')}}</label>
   <input class="form-control" type="text" id="download_url" name="download_url"  value="{{value.download_url}}" placeholder="{{_('Download Url')}}"  maxlength = 255 required/>
  </div>
<div class="mb-[20px]">
    <label class="form-label" for="md5_hash" required>{{_('Md5_Hash')}}</label>
   <input class="form-control" type="text" id="md5_hash" name="md5_hash"  value="{{value.md5_hash}}" placeholder="{{_('Md5_Hash')}}"  maxlength = 32 required/>
  </div>
<div class="mb-[20px]">
    <label class="form-label" for="price" required>{{_('Price')}}</label>
   <input type="number" class="form-control" step="0.01" id="price" name="price" value="{{value.price}}"  placeholder="{{_('Price')}}"  required/>
  </div>
<div class="mb-[20px]">
    <label class="form-label" for="paid" required>{{_('Paid')}}</label>
   <input type="number" class="form-control" step="1" id="paid" name="paid" value="{{value.paid}}"  placeholder="{{_('Paid')}}"  required/>
  </div>
<div class="mb-[20px]">
    <label class="form-label" for="installed" required>{{_('Installed')}}</label>
   <input type="number" class="form-control" step="1" id="installed" name="installed" value="{{value.installed}}"  placeholder="{{_('Installed')}}"  required/>
  </div>
<div class="mb-[20px]">
    <label class="form-label" for="enabled" required>{{_('Enabled')}}</label>
   <input type="number" class="form-control" step="1" id="enabled" name="enabled" value="{{value.enabled}}"  placeholder="{{_('Enabled')}}"  required/>
  </div>
<div class="mb-[20px]">
    <label class="form-label" for="setting_menu" required>{{_('Setting menu')}}</label>
   <input class="form-control" type="text" id="setting_menu" name="setting_menu"  value="{{value.setting_menu}}" placeholder="{{_('Setting menu')}}"  maxlength = 255 required/>
  </div>
<div class="mb-[20px]">
    <label class="form-label" for="status" required>{{_('Status')}}</label>
   <select id="status" type="text" class="form-select" name="status">
  <option value>{{_('Pealse Select')}}</option>
 {% if value.status %}
  <option value="normal" {% if value.status=='normal' %} selected {% endif %}>{{_('Normal')}}</option>
  <option value="hidden" {% if value.status=='hidden' %} selected {% endif %}>{{_('Hidden')}}</option>
 {% else %}
  <option value="normal" {% if None=='normal' %} selected {% endif %}>{{_('Normal')}}</option>
  <option value="hidden" {% if None=='hidden' %} selected {% endif %}>{{_('Hidden')}}</option>
 {% endif %}

</select>  </div>

                    <div class="d-flex justify-content-between">
                        <button type="submit" form="addon_form" data-type="submit"
                            class="btn btn-primary btn-submit">
                            {{_('Submit')}}
                        </button>
                        <button type="submit" form="addon_form" data-type="submit-return"
                            class="btn btn-primary btn-submit">
                            {{_('Submit & Return')}}
                        </button>
                        <button type="submit" form="addon_form" data-type="submit-new-entry"
                            class="btn btn-primary btn-submit">
                            {{_('Submit & New Entry')}}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>{% endblock content %}