<!-- add.jinja2 or edit.jinja2 -->
{% extends "admin/layout/default.jinja2" %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js?v={{configs.basic.version}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/additional-methods.min.js?v={{configs.basic.version}}"></script>
<script src="/static/assets/js/backend/general_config.js"></script>
<script src="{{ url_for('static', filename='assets/js/backend/upload.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/7.0.0/tinymce.min.js"
    integrity="sha512-xEHlM+pBhSw2P/G+5x3BR8723QPEf2bPr4BLV8p8pvtaCHmWVuSzzKy9M0oqWaXDZrB3r2Ntwmc9iJcNV/nfBQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.13/flatpickr.min.js"
    integrity="sha512-K/oyQtMXpxI4+K0W7H25UopjM8pzq0yrVdFdG21Fh5dBe91I40pDd9A4lzNlHPHBIP2cwZuoxaUSX0GJSObvGA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.13/l10n/ar-dz.min.js"
    integrity="sha512-qpDG6agspDXhnOZkCoWtFNJ13B6Fq6pwIuZoLw0b05J8TDd1qohuTaemmrpsN3ZVtB7AI7ZnqH5CVVIj01SV5g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>


                    <script>   
                        document.addEventListener("DOMContentLoaded", function () {
                        let textarea = document.getElementById('value');
                        let options = {
                            selector: '#value',
                            height: 300,
                            menubar: false,
                            statusbar: false,
                            plugins: [],
                            toolbar: 'undo redo | formatselect | ' +
                            'bold italic backcolor | alignleft aligncenter ' +
                            'alignright alignjustify | bullist numlist outdent indent | ' +
                            'removeformat',
                            content_style: 'body { font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif; font-size: 14px; -webkit-font-smoothing: antialiased; }',
                            setup: function(editor) {
                                editor.on('change', function(e) {
                                    textarea.value = editor.getContent();
                                });
                            }
                        }
                        if (localStorage.getItem("tablerTheme") === 'dark') {
                            options.skin = 'oxide-dark';
                            options.content_css = 'dark';
                        }
                        tinyMCE.init(options);
                        }) 
                    </script>
                    
                    <script>   
                        document.addEventListener("DOMContentLoaded", function () {
                        let textarea = document.getElementById('content');
                        let options = {
                            selector: '#content',
                            height: 300,
                            menubar: false,
                            statusbar: false,
                            plugins: [],
                            toolbar: 'undo redo | formatselect | ' +
                            'bold italic backcolor | alignleft aligncenter ' +
                            'alignright alignjustify | bullist numlist outdent indent | ' +
                            'removeformat',
                            content_style: 'body { font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif; font-size: 14px; -webkit-font-smoothing: antialiased; }',
                            setup: function(editor) {
                                editor.on('change', function(e) {
                                    textarea.value = editor.getContent();
                                });
                            }
                        }
                        if (localStorage.getItem("tablerTheme") === 'dark') {
                            options.skin = 'oxide-dark';
                            options.content_css = 'dark';
                        }
                        tinyMCE.init(options);
                        }) 
                    </script>
                    

<script>
    var currentButton = undefined;
    $(".btn-submit").on('click', function (event) {
        currentButton = $(this)
    });
    $("#general_config_form").validate({
        submitHandler: function (form) {
            var buttonText = currentButton.text();
            currentButton.prop("disabled", true).html("{{_('Please wait')}}");
            var formData = $('#general_config_form').serializeArray(); 
            var jsonData = {}; 
            formData.forEach(function(item) {jsonData[item.name] = item.value;}); 
            var type = currentButton.data('type');

            $.ajax({
                type: "POST",
                url: "/admin/general/config/save",
                data: JSON.stringify(jsonData),
                contentType: 'application/json;charset=utf-8', 
                processData: false,
                success: function (data) {
                    toastr.options.timeOut = 200;
                    toastr.options.onHidden = function () {
                        currentButton.prop("disabled", false).html(buttonText);
                        if (type == 'submit-return') {
                            window.location.href = '/admin/general/config/';
                        } else if (type == 'submit-new-entry') {
                            window.location.href = '/admin/general/config/add';
                        } else {
                            window.location.reload();
                        }
                    };
                    toastr.success("{{_('Submit Successfully')}}");
                },
                error: function (xhr, status, error) {
                    let msg = xhr.responseJSON && xhr.responseJSON.msg ? xhr.responseJSON.msg : error;
                    toastr.error(msg);
                },
                complete: function (xhr, textStatus) {
                    $("#app-loading-indicator").addClass("opacity-0");
                    currentButton.prop("disabled", false).html(buttonText);
                },
            });

            return false;
        },
        errorElement: "div",
        errorPlacement: function (error, element) {
            $(element).removeClass('is-valid');
            $(element).addClass('is-invalid');
            error.addClass("mt-1 p-1 text-warning");
            if (element.prop("type") === "checkbox" || element.parent().find('button').length > 0) {
                error.insertAfter(element.parent());
            } else {
                error.insertAfter(element);
            }
        },
        success: function (label, element) {
            $(element).removeClass('is-invalid');
            $(element).addClass('is-valid mb-2');
            $(label).addClass('d-none');
        },
    });
</script>
{% endblock javascript %}
{% block content %}
<!-- Page body -->
<div class="page-body pt-6888">
    <div class="container-fluid px-4">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <form id="general_config_form" method="post" action>
                    <div class="mb-[20px]">
    <label class="form-label" for="id" required>{{_('ID')}}</label>
   <input class="form-control" type="hidden" id="id" name="id"  value="{{value.id}}" placeholder="{{_('ID')}}"  required/>{{value.id}}
  </div>
<div class="mb-[20px]">
    <label class="form-label" for="name" required>{{_('Variable Name')}}</label>
   <input class="form-control" type="text" id="name" name="name"  value="{{value.name}}" placeholder="{{_('Variable Name')}}"  maxlength = 30 required/>
  </div>
<div class="mb-[20px]">
    <label class="form-label" for="group" required>{{_('Group')}}</label>
   <input class="form-control" type="text" id="group" name="group"  value="{{value.group}}" placeholder="{{_('Group')}}"  maxlength = 30 required/>
  </div>
<div class="mb-[20px]">
    <label class="form-label" for="title" required>{{_('Variable Title')}}</label>
   <input class="form-control" type="text" id="title" name="title"  value="{{value.title}}" placeholder="{{_('Variable Title')}}"  maxlength = 100 required/>
  </div>
<div class="mb-[20px]">
    <label class="form-label" for="tip" >{{_('Variable Description')}}</label>
   <input class="form-control" type="text" id="tip" name="tip"  value="{{value.tip}}" placeholder="{{_('Variable Description')}}"  maxlength = 100 />
  </div>
<div class="mb-[20px]">
    <label class="form-label" for="type" >{{_('Type')}}</label>
   <input class="form-control" type="text" id="type" name="type"  value="{{value.type}}" placeholder="{{_('Type: string, text, int, bool, array, datetime, date, file')}}"  maxlength = 30 />
  </div>
<div class="mb-[20px]">
    <label class="form-label" for="visible" >{{_('Visibility Condition')}}</label>
   <input class="form-control" type="text" id="visible" name="visible"  value="{{value.visible}}" placeholder="{{_('Visibility Condition')}}"  maxlength = 255 />
  </div>
<div class="mb-[20px]">
    <label class="form-label" for="value" >{{_('Variable Value')}}</label>
   <textarea class="form-control" name="value" id="value" cols="30" rows="10" >{{value.value}}</textarea>
  </div>
<div class="mb-[20px]">
    <label class="form-label" for="content" >{{_('Variable Dictionary Data')}}</label>
   <textarea class="form-control" name="content" id="content" cols="30" rows="10" >{{value.content}}</textarea>
  </div>
<div class="mb-[20px]">
    <label class="form-label" for="rule" >{{_('Validation Rule')}}</label>
   <input class="form-control" type="text" id="rule" name="rule"  value="{{value.rule}}" placeholder="{{_('Validation Rule')}}"  maxlength = 100 />
  </div>
<div class="mb-[20px]">
    <label class="form-label" for="extend" >{{_('Extended Attributes')}}</label>
   <input class="form-control" type="text" id="extend" name="extend"  value="{{value.extend}}" placeholder="{{_('Extended Attributes')}}"  maxlength = 255 />
  </div>
<div class="mb-[20px]">
    <label class="form-label" for="setting" >{{_('Settings')}}</label>
   <input class="form-control" type="text" id="setting" name="setting"  value="{{value.setting}}" placeholder="{{_('Settings')}}"  maxlength = 255 />
  </div>

                    <div class="d-flex justify-content-between">
                        <button type="submit" form="general_config_form" data-type="submit"
                            class="btn btn-primary btn-submit">
                            {{_('Submit')}}
                        </button>
                        <button type="submit" form="general_config_form" data-type="submit-return"
                            class="btn btn-primary btn-submit">
                            {{_('Submit & Return')}}
                        </button>
                        <button type="submit" form="general_config_form" data-type="submit-new-entry"
                            class="btn btn-primary btn-submit">
                            {{_('Submit & New Entry')}}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>{% endblock content %}