<!-- index.jinja2 -->
{% extends "admin/layout/default.jinja2" %}
{% block javascript %}
<script>
    $(document).ready(function () {
        "use strict";

        $(".switch-enable").click(function () {
            var isChecked = $(this).prop("checked");
            var plugin_name = $(this).data('uuid');
            var formData = {
                status: isChecked ? 'enabled' : 'disabled',
                plugin_name: plugin_name
            };
            $.ajax({
                type: "POST",
                url: "/admin/plugin/update/status",
                data: JSON.stringify(formData),
                contentType: 'application/json;charset=utf-8',
                processData: false,
                success: function (data) {
                    toastr.success(_('Submit Successfully'));
                },
                error: function (data) {
                    var message = data.responseJSON.message;
                    toastr.error(message);
                    currentButton.prop("disabled", false).html(buttonText);
                }
            });
        });

        $(".btn-install").click(function () {
            var plugin_id = $(this).data('id');
            var uuid = $(this).data('uuid');
            var currentButton = $(this);
            var buttonText = currentButton.text();
            currentButton.prop("disabled", true).html("{{_('Please wait')}}");
            var formData = { plugin_id: plugin_id, uuid: uuid };
            $.ajax({
                type: "POST",
                url: "/admin/plugin/install",
                data: JSON.stringify(formData),
                contentType: 'application/json;charset=utf-8',
                processData: false,
                success: function (data) {
                    toastr.success(_('Submit Successfully'));
                    window.location.reload(true);
                },
                error: function (data) {
                    var message = data.responseJSON.message;
                    toastr.error(message);
                    currentButton.prop("disabled", false).html(buttonText);
                }
            });
        });

        $(".btn-uninstall").click(function () {

            var plugin_id = $(this).data('id');
            var uuid = $(this).data('uuid');
            var currentButton = $(this);
            var buttonText = currentButton.text();
            currentButton.prop("disabled", true).html("{{_('Please wait')}}");
            var formData = { plugin_id: plugin_id, uuid: uuid };
            $.ajax({
                type: "POST",
                url: "/admin/plugin/uninstall",
                data: JSON.stringify(formData),
                contentType: 'application/json;charset=utf-8',
                processData: false,
                success: function (data) {
                    toastr.success(_('Submit Successfully'));
                    window.location.reload(true);
                },
                error: function (data) {
                    var message = data.responseJSON.message;
                    toastr.error(message);
                    currentButton.prop("disabled", false).html(buttonText);
                }
            });
        });

    });

    function AddonSave() {
        "use strict";
        var currentButton = document.getElementById("plugin_button");
        var buttonText = currentButton.innerHTML;
        currentButton.disabled = true;
        currentButton.innerHTML = "{{_('Please wait')}}";

        var formData = {
            id: $("#id").val(),
            title: $("#title").val(),
            version: $("#version").val(),
            md5_hash: $("#md5_hash").val(),
            is_paid: $("#is_paid").val(),
            enabled: $("#enabled").val()
        };

        $.ajax({
            type: "POST",
            url: "/admin/plugin/save",
            data: JSON.stringify(formData),
            contentType: 'application/json;charset=utf-8',
            processData: false,
            success: function (data) {
                toastr.success(_('Submit Successfully'));
                currentButton.disabled = false;
                currentButton.innerHTML = buttonText;
            },
            error: function (data) {
                var message = data.responseJSON.message;
                toastr.error(message);
                currentButton.disabled = false;
                currentButton.innerHTML = buttonText;
            }
        });

        return false;
    }

    function AddonDelete(AddonId) {
        if (confirm(_('Are you sure you want to delete it?'))) {
            var selectedIds = [AddonId];
            $.ajax({
                type: "DELETE",
                url: "/admin/plugin/delete",
                data: JSON.stringify({ ids: selectedIds }),
                contentType: 'application/json;charset=utf-8',
                processData: false,
                success: function (data) {
                    const pluginElement = document.getElementById('plugin-' + AddonId);
                    if (pluginElement) {
                        pluginElement.remove();
                    }
                    toastr.success(_('Delete Successfully'));
                },
                error: function (data) {
                    toastr.error(_('Delete Failed'));
                }
            });
        }
        return false;
    }

</script>
{% endblock javascript %}
{% block content %}
<div class="page-body pt-6888">
    <div class="container-fluid px-4">
        <div class="mb-2">
            <a href="/admin/plugin/add" class="btn btn-success">
                <i class="ti ti-plus"></i>
                {{_('Upload Local Plugin')}}
            </a>
        </div>
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" data-bs-toggle="tabs">
                    <li class="nav-item">
                        <a href="#tabs-plugin" class="nav-link active" data-bs-toggle="tab">{{_('Plugin')}}</a>
                    </li>
                    <li class="nav-item">
                        <a href="#tabs-local-plugin" class="nav-link" data-bs-toggle="tab">{{_('Local Plugin')}}</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane active show" id="tabs-plugin">
                    <div id="table-plugin" class="card-table table-responsive">
                        <table class="table action-table">
                            <thead>
                                <tr>
                                    <th><input class="form-check-input m-0 align-middle select-all" type="checkbox"
                                            aria-label="Select invoice"></th>
                                    <th><button class="table-sort" data-sort="sort-name">{{_('Id')}}</button></th>
                                    <th>{{_('Title')}}</th>
                                    <th>{{_('Author')}}</th>
                                    <th>{{_('Uuid')}}</th>
                                    <th>{{_('Description')}}</th>
                                    <th>{{_('Version')}}</th>
                                    <th>{{_('Downloads')}}</th>
                                    <th>{{_('Price')}}</th>
                                    <th>{{_('Paid')}}</th> 
                                    <th>{{_('Enabled')}}</th>
                                    <th>{{_('Createtime')}}</th>
                                    <th>{{_('Updatetime')}}</th>
                                    <th class="!text-end">{{_('Actions')}}</th>
                                </tr>
                            </thead>
                            <tbody class="table-tbody align-middle text-heading">
                                <!-- TODO -->
                                {% for value in plugin_list %}
                                <tr id="plugin-{{ value.id }}">
                                    <td><input class="form-check-input m-0 align-middle id-checkbox" type="checkbox"
                                            aria-label="Select invoice" value="{{value.id}}"></td>
                                    <td class="sort-name">{{ value.id }}</td>
                                    <td class="sort-name">{{ value.title }}</td>
                                    <td class="sort-name">{{ value.author }}</td>
                                    <td class="sort-name">{{ value.uuid }}</td>
                                    <td class="sort-name">{{ value.description }}</td>
                                    <td class="sort-name">{{ value.version }}</td>
                                    <td class="sort-name">{{ value.downloads }}</td>
                                    <td class="sort-name"> {% if value.price=='0.00' %}
                                        <span class="text-success">{{_('Free')}}</span>
                                        {% elif value.is_paid=="1"%}
                                        <span class="text-success">{{_('Paid')}}</span>
                                        {% else %}
                                        {{_('Unbought')}}
                                        {% endif %}
                                    </td>
                                    <td class="sort-name">{{ value.paid }}</td> 
                                    <td class="sort-name">
                                        <label class="form-check form-switch">
                                            <input class="form-check-input switch-enable" type="checkbox" data-uuid="{{value.uuid}}" {% if value.enabled=='1' %} checked {% endif %}>
                                        </label>
                                    </td>
                                    <td class="sort-name">{{ value.created_at }}</td>
                                    <td class="sort-name">{{ value.updated_at }}</td>

                                    <td class="!text-end whitespace-nowrap">
                                        {% if value.installed=='0'%}
                                        <a href="javascript:;" class="btn btn-success btn-install"
                                            data-id="{{ value.id }}" data-uuid="{{ value.uuid }}" title="Install">
                                            <i class="ti ti-world-download"></i>{{_('Install')}}
                                        </a>
                                        {% else %}
                                        {% if value.setting_menu|length >0 %}
                                        <div class="btn">
                                            <a class="dropdown-toggle" href="#navbar-setting_menu"
                                                data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button"
                                                aria-expanded="false">
                                                <span class="nav-link-title">
                                                    {{_('Setting')}}
                                                </span>
                                            </a>
                                            <div class="dropdown-menu">
                                                {% for menu in value.setting_menu%}
                                                <a class="btn btn-success btn-setting" href="{{menu.route}}"><i
                                                        class="ti ti-settings"></i>{{menu.title}}</a>
                                                {% endfor %}
                                            </div>

                                        </div>
                                        {% endif %}
                                        <a href="javascript:;" class="btn btn-danger btn-uninstall" data-id="{{ value.id }}" data-uuid="{{ value.uuid }}" title="Uninstall">
                                            <i class="ti ti-trash-filled"></i>{{_('Uninstall')}}
                                        </a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>

                            </tfoot>
                        </table>

                    </div>
                    <div
                        class="flex items-center border-solid border-t border-r-0 border-b-0 border-l-0 border-[--tblr-border-color] px-[--tblr-card-cap-padding-x] py-[--tblr-card-cap-padding-y] [&_.rounded-md]:rounded-full">
                        <div class="m-0 ms-auto p-0">
                            <ul class="pagination ">
                                {% if current_page > 1 %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ current_page - 1 }}" tabindex="-1"
                                        aria-disabled="true">
                                        <i class="ti ti-arrow-left"></i>
                                        {{_('Prev')}}
                                    </a>
                                </li>
                                {% endif %}

                                {% for i in range(1, total_pages + 1) %}
                                {% if i == current_page %}
                                <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>

                                {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                                {% endfor %}

                                {% if current_page < total_pages %} <li class="page-item">
                                    <a class="page-link" href="?page={{ current_page + 1 }}">
                                        {{_('next')}}
                                        <i class="ti ti-arrow-right"></i>
                                    </a>
                                    </li>
                                    {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="tabs-local-plugin">
                    <div id="table-local-plugin" class="card-table table-responsive">
                        <table class="table action-table">
                            <thead>
                                <tr>
                                    <th><input class="form-check-input m-0 align-middle select-all" type="checkbox"
                                            aria-label="Select invoice"></th>
                                    <th><button class="table-sort" data-sort="sort-name">{{_('Id')}}</button></th>
                                    <th>{{_('Title')}}</th>
                                    <th>{{_('Author')}}</th>
                                    <th>{{_('Uuid')}}</th>
                                    <th>{{_('Description')}}</th>
                                    <th>{{_('Version')}}</th>
                                    <th>{{_('Downloads')}}</th>
                                    <th>{{_('Price')}}</th>
                                    <th>{{_('Paid')}}</th> 
                                    <th>{{_('Enabled')}}</th>
                                    <th>{{_('Createtime')}}</th>
                                    <th>{{_('Updatetime')}}</th>
                                    <th class="!text-end">{{_('Actions')}}</th>
                                </tr>
                            </thead>
                            <tbody class="table-tbody align-middle text-heading">
                                <!-- TODO -->
                                {% for value in local_plugin_list %}
                                <tr id="local-plugin-{{ value.id }}">
                                    <td><input class="form-check-input m-0 align-middle id-checkbox" type="checkbox"
                                            aria-label="Select invoice" value="{{value.id}}"></td>
                                    <td class="sort-name">{{ value.id }}</td>
                                    <td class="sort-name">{{ value.title }}</td>
                                    <td class="sort-name">{{ value.author }}</td>
                                    <td class="sort-name">{{ value.uuid }}</td>
                                    <td class="sort-name">{{ value.description }}</td>
                                    <td class="sort-name">{{ value.version }}</td>
                                    <td class="sort-name">{{ value.downloads }}</td>
                                    <td class="sort-name"> {% if value.price=='0.00' %}
                                        <span class="text-success">{{_('Free')}}</span>
                                        {% elif value.is_paid=="1"%}
                                        <span class="text-success">{{_('Paid')}}</span>
                                        {% else %}
                                        {{_('Unbought')}}
                                        {% endif %}
                                    </td>
                                    <td class="sort-name">{{ value.paid }}</td> 
                                    <td class="sort-name">
                                        <label class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" {% if value.enabled=='1' %}
                                                checked {% endif %}>
                                        </label>
                                    </td>
                                    <td class="sort-name">{{ value.created_at }}</td>
                                    <td class="sort-name">{{ value.updated_at }}</td>

                                    <td class="!text-end whitespace-nowrap">
                                        {% if value.installed=='0'%}
                                        <a href="javascript:;" class="btn btn-success btn-install"
                                            data-id="{{ value.id }}" title="Install">
                                            <i class="ti ti-world-download"></i>{{_('Install')}}
                                        </a>
                                        {% else %}
                                        {% if value.setting_menu|length >0 %}
                                        <div class="btn">


                                            <a class="dropdown-toggle" href="#navbar-help" data-bs-toggle="dropdown"
                                                data-bs-auto-close="outside" role="button" aria-expanded="false">
                                                <span class="nav-link-title">
                                                    {{_('Setting')}}
                                                </span>
                                            </a>
                                            <div class="dropdown-menu">
                                                {% for menu in value.setting_menu%}
                                                <a class="btn btn-success btn-setting" href="{{menu.route}}"><i
                                                        class="ti ti-settings"></i>{{menu.title}}</a>
                                                {% endfor %}
                                            </div>

                                        </div>
                                        {% endif %}
                                        <a href="javascript:;" class="btn btn-danger btn-uninstall"
                                            data-id="{{ value.id }}" title="Uninstall">
                                            <i class="ti ti-trash-filled"></i>{{_('Uninstall')}}
                                        </a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>

                            </tfoot>
                        </table>

                    </div>
                    <div
                        class="flex items-center border-solid border-t border-r-0 border-b-0 border-l-0 border-[--tblr-border-color] px-[--tblr-card-cap-padding-x] py-[--tblr-card-cap-padding-y] [&_.rounded-md]:rounded-full">
                        <div class="m-0 ms-auto p-0">
                            <ul class="pagination ">
                                {% if current_page > 1 %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ current_page - 1 }}" tabindex="-1"
                                        aria-disabled="true">
                                        <i class="ti ti-arrow-left"></i>
                                        {{_('Prev')}}
                                    </a>
                                </li>
                                {% endif %}

                                {% for i in range(1, total_pages + 1) %}
                                {% if i == current_page %}
                                <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>

                                {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                                {% endfor %}

                                {% if current_page < total_pages %} <li class="page-item">
                                    <a class="page-link" href="?page={{ current_page + 1 }}">
                                        {{_('next')}}
                                        <i class="ti ti-arrow-right"></i>
                                    </a>
                                    </li>
                                    {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% for value in plugin_list %}
<div class="modal modal-blur fade" id="modal-plugin-{{ value.id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{_('Details')}} ID:{{value.id}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-3 align-items-end">
                    <div class="col-auto fw-bold"> {{_("Id")}}</div>
                    <div class="col">{{ value.id }} </div>
                </div>
                <div class="row mb-3 align-items-end">
                    <div class="col-auto fw-bold"> {{_("Title")}}</div>
                    <div class="col">{{ value.title }} </div>
                </div>
                <div class="row mb-3 align-items-end">
                    <div class="col-auto fw-bold"> {{_("Author")}}</div>
                    <div class="col">{{ value.author }} </div>
                </div>
                <div class="row mb-3 align-items-end">
                    <div class="col-auto fw-bold"> {{_("Uuid")}}</div>
                    <div class="col">{{ value.uuid }} </div>
                </div>
                <div class="row mb-3 align-items-end">
                    <div class="col-auto fw-bold"> {{_("Description")}}</div>
                    <div class="col">{{ value.description }} </div>
                </div>
                <div class="row mb-3 align-items-end">
                    <div class="col-auto fw-bold"> {{_("Version")}}</div>
                    <div class="col">{{ value.version }} </div>
                </div>
                <div class="row mb-3 align-items-end">
                    <div class="col-auto fw-bold"> {{_("Downloads")}}</div>
                    <div class="col">{{ value.downloads }} </div>
                </div>
                <div class="row mb-3 align-items-end">
                    <div class="col-auto fw-bold"> {{_("Download Url")}}</div>
                    <div class="col">{{ value.download_url }} </div>
                </div>
                <div class="row mb-3 align-items-end">
                    <div class="col-auto fw-bold"> {{_("Md5_Hash")}}</div>
                    <div class="col">{{ value.md5_hash }} </div>
                </div>
                <div class="row mb-3 align-items-end">
                    <div class="col-auto fw-bold"> {{_("Price")}}</div>
                    <div class="col"> {% if value.price=='0.00' %}
                        <span class="text-success">{{_('Free')}}</span>
                        {% elif value.is_paid=="1"%}
                        <span class="text-success">{{_('Paid')}}</span>
                        {% else %}
                        {{_('Unbought')}}
                        {% endif %}
                    </div>
                </div>
                <div class="row mb-3 align-items-end">
                    <div class="col-auto fw-bold"> {{_("Paid")}}</div>
                    <div class="col">{{ value.paid }} </div>
                </div>
                <div class="row mb-3 align-items-end">
                    <div class="col-auto fw-bold"> {{_("Installed")}}</div>
                    <div class="col">{{ value.installed }} </div>
                </div>
                <div class="row mb-3 align-items-end">
                    <div class="col-auto fw-bold"> {{_("Enabled")}}</div>
                    <div class="col">{{ value.enabled }} </div>
                </div>
                <div class="row mb-3 align-items-end">
                    <div class="col-auto fw-bold"> {{_("Createtime")}}</div>
                    <div class="col">{{ value.created_at }} </div>
                </div>
                <div class="row mb-3 align-items-end">
                    <div class="col-auto fw-bold"> {{_("Updatetime")}}</div>
                    <div class="col">{{ value.updated_at }} </div>
                </div>
                <div class="row mb-3 align-items-end">
                    <div class="col-auto fw-bold"> {{_("Status")}}</div>
                    <div class="col">{{ value.status }} </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">{{_('Close')}}</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% for value in local_plugin_list %}
<div class="modal modal-blur fade" id="modal-local-plugin-{{ value.id }}" tabindex="-1" role="dialog"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{_('Details')}} ID:{{value.id}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-3 align-items-end">
                    <div class="col-auto fw-bold"> {{_("Id")}}</div>
                    <div class="col">{{ value.id }} </div>
                </div>
                <div class="row mb-3 align-items-end">
                    <div class="col-auto fw-bold"> {{_("Title")}}</div>
                    <div class="col">{{ value.title }} </div>
                </div>
                <div class="row mb-3 align-items-end">
                    <div class="col-auto fw-bold"> {{_("Author")}}</div>
                    <div class="col">{{ value.author }} </div>
                </div>
                <div class="row mb-3 align-items-end">
                    <div class="col-auto fw-bold"> {{_("Uuid")}}</div>
                    <div class="col">{{ value.uuid }} </div>
                </div>
                <div class="row mb-3 align-items-end">
                    <div class="col-auto fw-bold"> {{_("Description")}}</div>
                    <div class="col">{{ value.description }} </div>
                </div>
                <div class="row mb-3 align-items-end">
                    <div class="col-auto fw-bold"> {{_("Version")}}</div>
                    <div class="col">{{ value.version }} </div>
                </div>
                <div class="row mb-3 align-items-end">
                    <div class="col-auto fw-bold"> {{_("Downloads")}}</div>
                    <div class="col">{{ value.downloads }} </div>
                </div>
                <div class="row mb-3 align-items-end">
                    <div class="col-auto fw-bold"> {{_("Download Url")}}</div>
                    <div class="col">{{ value.download_url }} </div>
                </div>
                <div class="row mb-3 align-items-end">
                    <div class="col-auto fw-bold"> {{_("Md5_Hash")}}</div>
                    <div class="col">{{ value.md5_hash }} </div>
                </div>
                <div class="row mb-3 align-items-end">
                    <div class="col-auto fw-bold"> {{_("Price")}}</div>
                    <div class="col"> {% if value.price=='0.00' %}
                        <span class="text-success">{{_('Free')}}</span>
                        {% elif value.is_paid=="1"%}
                        <span class="text-success">{{_('Paid')}}</span>
                        {% else %}
                        {{_('Unbought')}}
                        {% endif %}
                    </div>
                </div>
                <div class="row mb-3 align-items-end">
                    <div class="col-auto fw-bold"> {{_("Paid")}}</div>
                    <div class="col">{{ value.paid }} </div>
                </div>
                <div class="row mb-3 align-items-end">
                    <div class="col-auto fw-bold"> {{_("Installed")}}</div>
                    <div class="col">{{ value.installed }} </div>
                </div>
                <div class="row mb-3 align-items-end">
                    <div class="col-auto fw-bold"> {{_("Enabled")}}</div>
                    <div class="col">{{ value.enabled }} </div>
                </div>
                <div class="row mb-3 align-items-end">
                    <div class="col-auto fw-bold"> {{_("Createtime")}}</div>
                    <div class="col">{{ value.created_at }} </div>
                </div>
                <div class="row mb-3 align-items-end">
                    <div class="col-auto fw-bold"> {{_("Updatetime")}}</div>
                    <div class="col">{{ value.updated_at }} </div>
                </div>
                <div class="row mb-3 align-items-end">
                    <div class="col-auto fw-bold"> {{_("Status")}}</div>
                    <div class="col">{{ value.status }} </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">{{_('Close')}}</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock content %}