<!-- index.jinja2 -->
{% extends "user/layout/default.jinja2" %}
{% block javascript %}
<script>
     
</script>
{% endblock javascript %}
{% block content %}
<div class="page-body pt-6888">
    <div class="container-fluid px-4">
        <div class="card">
            <div id="table-default" class="card-table table-responsive">
                <table class="table action-table">
                    <thead>
                        <tr>
                            <th><input class="form-check-input m-0 align-middle select-all" type="checkbox"
                                    aria-label="Select invoice"></th>
                            <th><button class="table-sort" data-sort="sort-name">{{_('ID')}}</button></th>
                            <th>{{_('Member ID')}}</th>
                            <th>{{_('Change in Balance')}}</th>
                            <th>{{_('Balance Before Change')}}</th>
                            <th>{{_('Balance After Change')}}</th>
                            <th>{{_('Memo/Note')}}</th>
                            <th>{{_('Creation Time')}}</th>

                            <th class="!text-end">{{_('Actions')}}</th>
                        </tr>
                    </thead>
                    <tbody class="table-tbody align-middle text-heading">
                        <!-- TODO -->
                        {% for value in user_balance_log_list %}
                        <tr id="user_balance_log-{{ value.id }}">
                            <td><input class="form-check-input m-0 align-middle id-checkbox" type="checkbox"
                                    aria-label="Select invoice" value="{{value.id}}"></td>
                            <td class="sort-name">{{ value.id }}</td>
                            <td class="sort-name">{{ value.user_id }}</td>
                            <td class="sort-name">{{ value.balance }}</td>
                            <td class="sort-name">{{ value.before }}</td>
                            <td class="sort-name">{{ value.after }}</td>
                            <td class="sort-name">{{ value.memo }}</td>
                            <td class="sort-name">{{ value.createtime }}</td>

                            <td class="!text-end whitespace-nowrap">
                                <a href="javascript:;"
                                    class="btn w-[36px] h-[36px] p-0 border hover:bg-[var(--tblr-primary)] hover:text-white"
                                    data-bs-toggle="modal" data-bs-target="#modal-{{ value.id }}" title="View Details">
                                    <i class="ti ti-eye"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>

                    </tfoot>
                </table>

            </div>
            <div
                class="flex items-center border-solid border-t border-r-0 border-b-0 border-l-0 border-[--tblr-border-color] px-[--tblr-card-cap-padding-x] py-[--tblr-card-cap-padding-y] [&_.rounded-md]:rounded-full">
                <div class="m-0 ms-auto p-0">
                    <ul class="pagination ">
                        {% if current_page > 1 %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ current_page - 1 }}" tabindex="-1" aria-disabled="true">
                                <i class="ti ti-arrow-left"></i>
                                {{_('Prev')}}
                            </a>
                        </li>
                        {% endif %}

                        {% for i in range(1, total_pages + 1) %}
                        {% if i == current_page %}
                        <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>

                        {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                        {% endfor %}

                        {% if current_page < total_pages %} <li class="page-item">
                            <a class="page-link" href="?page={{ current_page + 1 }}">
                                {{_('next')}}
                                <i class="ti ti-arrow-right"></i>
                            </a>
                            </li>
                            {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% for value in user_balance_log_list %}
<div class="modal modal-blur fade" id="modal-{{ value.id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{_('Details')}} ID:{{value.id}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-3 align-items-end">
                    <div class="col-auto fw-bold"> {{_("ID")}}</div>
                    <div class="col">{{ value.id }} </div>
                </div>
                <div class="row mb-3 align-items-end">
                    <div class="col-auto fw-bold"> {{_("Member ID")}}</div>
                    <div class="col">{{ value.user_id }} </div>
                </div>
                <div class="row mb-3 align-items-end">
                    <div class="col-auto fw-bold"> {{_("Change in Balance")}}</div>
                    <div class="col">{{ value.balance }} </div>
                </div>
                <div class="row mb-3 align-items-end">
                    <div class="col-auto fw-bold"> {{_("Balance Before Change")}}</div>
                    <div class="col">{{ value.before }} </div>
                </div>
                <div class="row mb-3 align-items-end">
                    <div class="col-auto fw-bold"> {{_("Balance After Change")}}</div>
                    <div class="col">{{ value.after }} </div>
                </div>
                <div class="row mb-3 align-items-end">
                    <div class="col-auto fw-bold"> {{_("Memo/Note")}}</div>
                    <div class="col">{{ value.memo }} </div>
                </div>
                <div class="row mb-3 align-items-end">
                    <div class="col-auto fw-bold"> {{_("Creation Time")}}</div>
                    <div class="col">{{ value.createtime }} </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">{{_('Close')}}</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock content %}