{% extends "user/layout/app_without_sidebar.jinja2" %}
{% block javascript %}
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js?v={{configs.basic.version}}"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/additional-methods.min.js?v={{configs.basic.version}}"></script>
<script>
    const showPassBtn = document.querySelector('.show-password');
    showPassBtn?.addEventListener('click', ev => {
        ev.preventDefault();
        const passField = document.querySelector('#password');
        const currentPassFieldType = passField.getAttribute('type');
        passField.setAttribute('type', currentPassFieldType === 'password' ? 'text' : 'password');
        var ti_eye = document.getElementById('ti-eye');
        if (ti_eye.classList.contains('ti-eye')) {
            ti_eye.classList.remove('ti-eye');
            ti_eye.classList.add('ti-eye-closed');
        } else {
            ti_eye.classList.remove('ti-eye-closed');
            ti_eye.classList.add('ti-eye');
        }
    })
    $("#btn-submit").on('click', function (event) {
        currentButton = $(this)
        console.log("click")
    });
    $("#user_login_form").validate({
        submitHandler: function (form) {
            console.log("submitHandler")
            var buttonText = currentButton.text();
            var $this = $(this);
            currentButton.prop("disabled", true).html("{{_('Please wait')}}");
            $("#app-loading-indicator").removeClass("opacity-0");
            var formData = $('#user_login_form').serialize();
            
            $.ajax({
                type: "POST",
                url: "/user/login",
                data: formData,
                contentType: 'application/x-www-form-urlencoded',
                processData: false,
                success: function (response) {
                    toastr.options.timeOut = 200;
                    toastr.options.onHidden = function () {
                        currentButton.prop("disabled", false).html(buttonText);
                        window.location.reload();
                    }
                    toastr.success(_('Submit Successfully'));
                },
                error: function (response, status, error) {
                    console.log(response, status, error)
                    let msg = response.responseJSON.msg;
                    toastr.error(msg);
                    currentButton.prop("disabled", false);
                },
                complete: function (xhr, textStatus) {
                    $("#app-loading-indicator").addClass("opacity-0");
                },
            });

            return false;
        },
        errorElement: "div",
        errorPlacement: function (error, element) {
            console.log("error====>")
            // $(element).removeClass('is-valid');
            // $(element).addClass('is-invalid');
            error.addClass('text-warning py-2');
            if (element.prop("type") === "password" || element.prop("type") === 'checkbox') {
                error.insertAfter(element.parent());
            } else {
                error.insertAfter(element);
            }

        },
        msgs: {
            password: {
                required: " ",
                equalTo: "{{_('Please enter the same password as above')}}"
            },
            email: {
                required: " ",
                email: "{{_('Please enter a valid email address')}}",
            },
            accept: "{{_('Please Accept This Plain Text')}}"
        },
        debug: false
    });
</script>
{% endblock javascript %}
{% block content %}
<div class="page page-center">
    <div class="container container-tight py-4 max-w-[800px]">
        <div class="text-center mb-4">
            <a href="." class="navbar-brand navbar-brand-autodark">
                <img src="/static/assets/img/user/logo.svg" height="80">
            </a>
        </div>
        <div class="card card-md">
             <form class="card card-md" action="./" method="get" autocomplete="off" novalidate="">
                    <div class="card-body">
                        <h2 class="card-title text-center mb-2">{{_("Forgot password")}}</h2>
                        <p class="text-secondary mb-4">{{_("Enter your email address and your password will be reset and emailed to you.")}}</p>
                        <div class="mb-3">
                            <label class="form-label">{{_("Email address")}}</label>
                            <input type="email" class="form-control" placeholder="{{_(" Enter email")}}">
                        </div>
                        <div class="form-footer">
                            <a href="#" class="btn btn-primary w-100">
                                <!-- Download SVG icon from http://tabler-icons.io/i/mail -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="icon">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path
                                        d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z">
                                    </path>
                                    <path d="M3 7l9 6l9 -6"></path>
                                </svg>
                                {{_("Send me new password")}}
                            </a>
                        </div>
                    </div>
                </form>

        </div>
        <div class="text-center text-secondary my-3">
            {{_("Don't have an account yet?")}} <a href="/user/resgister" tabindex="-1">{{_("Sign up")}}</a>
        </div>
    </div>
</div>

{% endblock content %}