{% extends "user/layout/app_without_sidebar.jinja2" %}
{% block javascript %}
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js?v={{configs.basic.version}}"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/additional-methods.min.js?v={{configs.basic.version}}"></script>
<script>
    const showPassBtn = document.querySelector('.show-password');
    showPassBtn?.addEventListener('click', ev => {
        ev.preventDefault();
        const passField = document.querySelector('#password');
        const currentPassFieldType = passField.getAttribute('type');
        passField.setAttribute('type', currentPassFieldType === 'password' ? 'text' : 'password');
        var ti_eye = document.getElementById('ti-eye');
        if (ti_eye.classList.contains('ti-eye')) {
            ti_eye.classList.remove('ti-eye');
            ti_eye.classList.add('ti-eye-closed');
        } else {
            ti_eye.classList.remove('ti-eye-closed');
            ti_eye.classList.add('ti-eye');
        }
    })
    $("#btn-submit").on('click', function (event) {
        currentButton = $(this)
        console.log("click")
    });
    $("#user_login_form").validate({
        submitHandler: function (form) {
            console.log("submitHandler")
            // event.preventDefault();
            var $this = $(this);
            currentButton.prop("disabled", true).html("{{_('Please wait')}}");
            $("#app-loading-indicator").removeClass("opacity-0");
            var formData = $('#user_login_form').serialize();
            var buttonText = currentButton.text();
            $.ajax({
                type: "POST",
                url: "/user/login",
                data: formData,
                contentType: 'application/x-www-form-urlencoded',
                processData: false,
                success: function (response) {
                    toastr.options.timeOut = 200;
                    toastr.options.onHidden = function () {
                        currentButton.prop("disabled", false).html(buttonText);
                        window.location.reload();
                    }
                    toastr.success(_('Submit Successfully'));
                },
                error: function (response, status, error) {
                    console.log(response, status, error)
                    let msg = response.responseJSON.msg;
                    toastr.error(msg);
                    currentButton.prop("disabled", false);
                },
                complete: function (xhr, textStatus) {
                    $("#app-loading-indicator").addClass("opacity-0");
                },
            });

            return false;
        },
        errorElement: "div",
        errorPlacement: function (error, element) {
            console.log("error====>")
            // $(element).removeClass('is-valid');
            // $(element).addClass('is-invalid');
            error.addClass('text-warning py-2');
            if (element.prop("type") === "password" || element.prop("type") === 'checkbox') {
                error.insertAfter(element.parent());
            } else {
                error.insertAfter(element);
            }

        },
        msgs: {
            password: {
                required: " ",
                equalTo: "{{_('Please enter the same password as above')}}"
            },
            email: {
                required: " ",
                email: "{{_('Please enter a valid email address')}}",
            },
            accept: "{{_('Please Accept This Plain Text')}}"
        },
        debug: false
    });
</script>
{% endblock javascript %}
{% block content %}
<div class="page page-center">
    <div class="container container-tight py-4">
        <div class="text-center mb-4">
            <a href="." class="navbar-brand navbar-brand-autodark">
                <img src="/static/assets/img/user/logo.svg" height="80">
            </a>
        </div>
        <div class="card card-md">
            <form class="card card-md" action="./" method="get" autocomplete="off" novalidate="">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">{{_('Create new account')}}</h2>
                    <div class="mb-3">
                        <label class="form-label">{{_('Name')}}</label>
                        <input type="text" class="form-control" placeholder="{{_(' Enter name')}}">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">{{_('Email address')}}</label>
                        <input type="email" class="form-control" placeholder="{{_(' Enter email')}}">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">{{_('Password')}}</label>
                        <div class="input-group input-group-flat">
                            <input type="password" class="form-control" placeholder="{{_('Password')}}"
                                autocomplete="off">
                            <span class="input-group-text">
                                <a href="#" class="link-secondary" data-bs-toggle="tooltip" aria-label="{{_(' Show password')}}" data-bs-original-title="{{_(' Show password')}}"><!-- Download SVG icon from http://tabler-icons.io/i/eye -->
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="icon">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path>
                                        <path
                                            d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6">
                                        </path>
                                    </svg>
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-check">
                            <input type="checkbox" class="form-check-input">
                            <span class="form-check-label">{{_('Agree to the')}} <a href="./terms-of-service.html"
                                    tabindex="-1">{{_('terms and policy')}}</a>.</span>
                        </label>
                    </div>
                    <div class="form-footer">
                        <button type="submit" class="btn btn-primary w-100">{{_('Create new account')}}</button>
                    </div>
                </div>
            </form>


        </div>
        <div class="text-center text-secondary mt-3"> {{_("Already have account?")}} <a href="/user/login" tabindex="-1">{{_('Sign in')}}</a>
        </div>
    </div>
</div>

{% endblock content %}